# Enforce LF for most text files (Java, properties, scripts, etc.)
* text eol=lf
*.java text eol=lf
*.properties text eol=lf
*.xml text eol=lf
*.gitignore text eol=lf
*.sh text eol=lf
/mvnw text eol=lf

# Keep CRLF for Windows-specific scripts
*.cmd text eol=crlf